<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tagbanwa&family=Roboto:wght@300&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <title>{% block title %}Bucket-list !{% endblock %}</title>
</head>
<body>
<div class="container">
    <header>
        <h1>
            <a href="{{ path('main_DBZ') }}">
                <img src="{{ asset('img/logo.svg')}}" alt="Bucket-list ! | Home" style="filter: invert()">Bucket List</a>
        </h1>
        {% include 'menu/nav.html.twig' %}
    </header>
    <main>
        {% block body %}Body par défault{% endblock %}
    </main>
    <footer>
        <p> ©Bucket-List  {{ "now" | date('Y') }} </p>
    </footer>
</div>
</body>
</html>
